/* MEDIA QUERY */
@media only screen and (max-width: 450px) {
svg{
    display: block;
    font: 10.5em 'Montserrat';
    width: 380px;
    height: 200px;
    margin: 0 auto;
}

.text-copy{
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4d163d;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #bd0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #bd0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #fdb731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%}
}

.header-items{
    position: relative;
    bottom: 38px;
    right: 23px;
}

/* styling for the sub heading */
.first-heading{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Verdana';
    padding: 30px;
    color: #fdb731;
    text-align: center;
    font-weight: 800;
    position: relative;
    bottom: 40px;
}
}