@import url(https://fonts.googleapis.com/css?family=Montserrat);

.selector-for-some-widget {
    box-sizing: content-box;
}

html, body{
    height: 100%;
    font-weight: 800;
}

body{
    background: #030321;
    font-family: "Open sans";
}

main{
    background: #030321;
}
svg{
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 200px;
    margin: 0 auto;
}

.text-copy{
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4d163d;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #bd0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #bd0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #fdb731;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%}
}

#intro-cont{
    position: relative;
    bottom: 50px;
}

/* styling for the sub heading */
.first-heading{
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Verdana';
    padding: 30px;
    color: #fdb731;
    text-align: center;
    font-weight: 800;
    position: relative;
    bottom: 40px;
}

/* styling for grid div */
.grid-div{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    position: relative;
    bottom: 100px;
}
.grid-1{
    background: #bd0034;
    padding: 20px;
}
.grid-2{
    background: #fdb731;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}
.image-div{
    position: relative;
    left: 80px;
}
#game{
    position: relative;
    left: 60px;
    top: 10px;
    font-weight: 700;
}
.grid-1-img{
    width: 200px;
}